@font-face {
  font-family: 'iconfont';  /* project id 302660 */
  src: url('//at.alicdn.com/t/font_302660_bbx7vt4z6ipphkt9.eot');
  src: url('//at.alicdn.com/t/font_302660_bbx7vt4z6ipphkt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_302660_bbx7vt4z6ipphkt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_302660_bbx7vt4z6ipphkt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_302660_bbx7vt4z6ipphkt9.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingwei:before { content: "\e600"; }
.icon-sousuo:before { content: '\e6a9'; }
