@font-face {
  font-family: 'iconfont';  /* project id 302660 */
  src: url('//at.alicdn.com/t/font_302660_m8j7d9dwwqld6lxr.eot');
  src: url('//at.alicdn.com/t/font_302660_m8j7d9dwwqld6lxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_302660_m8j7d9dwwqld6lxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_302660_m8j7d9dwwqld6lxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_302660_m8j7d9dwwqld6lxr.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingwei:before { content: "\e600"; }
