.weather-wrapper{
    position: relative;
    width: 950px;
    height: 661px;
    margin:auto;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    .img-wrapper{
      position: relative;
      height: 439px;
      overflow: hidden;
      img{
        width: 100%;
      }
      .wrapper-right{
        position: absolute;
        top: 36px;
        right: 55px;
        text-align: right;
        color: #fff;
        .location{
          font-size: 60px;
          cursor: pointer;
        }
        .text-wrapper{
          margin-right: 15px;
          .place-name{
            margin-top: 10px;
          }
          .time{
            margin-top: 10px;
            //letter-spacing: 10px;
          }
        }
      }
      .travle-name{
        position: absolute;
        top: 36px;
        left: 55px;
        font-size: 35px;
        color: #fff;
      }
      .u-like{
        position: absolute;
        bottom: 25px;
        right: 65px;
        color: #fff;
        font-size: 30px;
        .icon-favorite{
          cursor: pointer;
        }
      }
    }
    .weather-item{
      width: 100%;
      height: 190px;
      background: rgba(255,255,255,.4);
      font-size: 0;
      .u-item{
        display:inline-block;
        height: 100%;
        vertical-align: middle;
        font-size: 14px;
        .item-list{
          height: 100%;
          text-align: center;
          border-right:solid 1px #000000;
          &.details{
            box-sizing: border-box;
            padding: 24px;
          }
          .temperature{
            font-size: 85px;
          }
          .time-bg{
            line-height: 23px;
            padding: 0 20px;
            background: rgba(0,0,0,.5);
            color: #fff;
            border-radius: 20px;
          }
        }
      }
    }
  }
